<!DOCTYPE HTML>
<html>
<head>
	<base href="/"> <!-- https://docs.angularjs.org/error/$location/nobase -->
	<meta charset="UTF-8">
	<title>Client side, one-page app</title>
	<link rel="stylesheet" type="text/css" href="/client/dist/css/clientApp.css">
</head>

<body ng-app="clientApp" ng-view>


	<!-- one page app scripts -->
	<script src="/bower/angular/angular.min.js"></script>
	<script src="/bower/angular-route/angular-route.min.js"></script>
	<script src="/client/dist/js/clientApp.js"></script>

</body>
</html>
