<!DOCTYPE HTML>
<html ng-app="clientApp">
<head>
	<base href="/"> <!-- https://docs.angularjs.org/error/$location/nobase -->
	<meta charset="UTF-8">
	<title>Client side, one-page app</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/bower/font-awesome/css/font-awesome.min.css">

	<!-- CSS compiled by SASS -->
	<link rel="stylesheet" type="text/css" href="/client/dist/css/main.css">
</head>

<body>

	<div class="container-fluid" ui-view></div>


	<!-- JS -->
	<script src="/bower/angular/angular.min.js"></script>
	<script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>

	<!-- JS compiled by browserify -->
	<script src="/client/dist/js/main.js"></script>

</body>
</html>
