<header class="row" ng-include="'/client/dist/html/examples-spa/_nginclude/05header.html'"></header>

<div class="row">
	<div class="col-sm-8">
		<ol class="col-sm-7 breadcrumb">
  			<li><a href="/">Home</a></li>
  			<li><a href="/examples-spa">SPA Examples</a></li>
  			<li class="active">Directives</li>
		</ol>
	</div>
</div>

<section class="main-block">

	<div class="row">
		<div class="col-sm-12">
			<h1>Directives</h1>
			<p>Docs:</p>
			<ul>
				<li><a href="https://docs.angularjs.org/api/ng/service/$compile#directive-definition-object" target="_blank">$compile</a></li>
				<li><a href="https://docs.angularjs.org/guide/directive" target="_blank">directive</a></li>
				<li><a href="http://blog.thoughtram.io/angularjs/2015/01/02/exploring-angular-1.3-bindToController.html" target="_blank">Bind to directive controller</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-5">
			<p class="alert alert-warning">
				<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
				<b>Notice:</b> Angular directives are located on this page. In some examples you have to open browser console to see output results.
			</p>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-12">

			<h2>Directive definition object properties</h2>
			<i>Notice: All directive examples are defined and located in <b>/directives/directive_examples/</b> folder and are put in
				<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directives.html" target="_blank">directives.html</a> file.
			</i>
			<br><br>

			<h3>TEMPLATE</h3>
			<ol>
				<!-- template -->
				<li>
					<b>template: 'html string'</b> - template used as a HTML string
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/01template-string.js" target="_blank">01template-string.js</a>]

					<div class="well">
						<my-template-string></my-template-string>
					</div>
				</li>

				<li>
					<b>template: function(tElement, tAttrs) { ... }</b> - template used as a function which returns HTML string
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/01template-func.js" target="_blank">01template-func.js</a>]


					<div class="well" style="min-height:80px">
						<my-template-func my-html="<p style='color:red'>My HTML.</p>" class="pull-right"></my-template-func>
					</div>
				</li>



				<!-- templateUrl -->
				<li>
					<b>templateUrl: 'mytemplate.html'</b> - template URL is using HTML file in /dist/ folder
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/02templateurl.js" target="_blank">02templateurl.js</a>]

					<div class="well">
						<my-templateurl></my-templateurl>
					</div>
				</li>

				<li>
					<b>templateUrl: function(tElement, tAttrs) { ... }</b> - template used as a function which returns template URL
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/02templateurl-func.js" target="_blank">02templateurl-func.js</a>]
					<br><i>NOTICE: In this example template is defined inside JS file (main.js) using $templateCache.</i>

<pre><code>//define default templates
clientApp.run(function ($templateCache) {
    'use strict';
    $templateCache.put('green.html', '&lt;p style="color:green"&gt;green template&lt;/p&gt;');
    $templateCache.put('red.html', '&lt;p style="color:red"&gt;red template&lt;/p&gt;');
});
</code></pre>

					<div class="well">
						<!-- <my-templateurl-func></my-template-func> --> <!-- green.html will be used by default defined in 02templateurl-func.js -->
						<my-templateurl-func my-tpl="red.html"></my-template-func>
					</div>
				</li>

				<!-- templateNamespace -->
				<li>
					<b>templateNamespace: 'html | svg | math'</b> - document type representation ('html' is default)
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/02templateurl.js" target="_blank">02templatenamespace.js</a>]

					<div class="well">
						<svg width="100" height="100">
							<my-templatenamespace-svg></my-templatenamespace-svg>
						</svg>
					</div>
				</li>

			</ol>


			<h3>CONTROLLER</h3>
			<ol>
				<!-- controller -->
				<li>
					<b>controller: 'someCtrl'</b> - external controller is used
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/03controller-external.js" target="_blank">03controller-external.js</a>,
					 <a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directivesCtrl.js" target="_blank">directivesCtrl.js</a>]

					<div class="well">
						<my-controller-external></my-controller-external>
					</div>
				</li>


				<li>
					<b>controller: function($scope) { ... }</b> - internal controller
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/03controller-internal.js" target="_blank">03controller-internal.js</a>]
					<br><i>NOTICE: $scope which is outside template can be used inside template with {{myVar}}.</i>

					<div class="well">
						<my-controller-internal></my-controller-internal>
					</div>
				</li>


				<li>
					<b>controller: function($scope, $element, $attrs, $transclude, otherInjectables) { ... }</b> - usage of $element, $attrs and $transclude
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/03controller-internal2.js" target="_blank">03controller-internal.js</a>]

					<div class="well">
						<my-controller-internal2 var-from-attribute="My var from attribute!"></my-controller-internal2>
					</div>
				</li>
			</ol>


			<h3>SCOPE</h3>
			Define scope inside directive. Possible values:

			<ol ng-controller="ScopeParentCtrl">
				<li>
					<b>scope: false</b> - No new scope. The controller and directive are using the same scope object. This means any changes to the controller or directive will be in sync.
					<br>Usually scope is defined inside controller: property. false is <b>default</b> value.
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/05scope-false.js" target="_blank">05scope-false.js</a>]

					<br><i>IMPORTANT: A value inserted in 'childScopeVar' input will appear in parent scope.</i>

					<div class="well">
						<my-scope-false></my-scope-false>
						<p>childScopeVar in parent scope: {{childScopeVar}}</p>
					</div>
				</li>

				<li>
					<b>scope: true</b> - New child scope will be created inside directive. Any changes made to this new scope will not reflect back to the parent scope.
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/05scope-true.js" target="_blank">05scope-true.js</a>]

					<br><i>
					IMPORTANT: A value inserted in 'childScopeVar' input will NOT appear in parent scope.
					That's because <b>true</b> creates new child scope which is different from parent scope.
					<br>If you want that variable to be accessible in parent scope put ng-model="<b>$parent.</b>childScopeVar2"</i>

					<div class="well">
						<my-scope-true></my-scope-true>
						<p>childScopeVar2 in parent scope: {{childScopeVar2}}</p>
					</div>
				</li>


				<li>
					<b>scope: {isoScope: '@attr'}</b> - New isolated scope for reusable angular directives. @ binds 'isoScope' to directive's attribute.
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/05scope-object-at.js" target="_blank">05scope-object-at.js</a>]

					<br><i>IMPORTANT: On the contrary to <b>true</b>, object {} creates new isolated scope, so that scope doesn't inherit anything from the parents.</i>

					<div class="well">
						<my-scope-obj-at attr-val="Val from directive's attribute!"></my-scope-obj-at>
						<p>isoScopeVar in parent scope: {{isoScopeVar}}</p>
					</div>
				</li>


				<li>
					<b>scope: {isoScope: '=attr'}</b> - New isolated scope. = binds 'isoScope' to directive's attribute where model is defined. It is bidirectional binding.
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/05scope-object-eq.js" target="_blank">05scope-object-eq.js</a>]

					<br><i>IMPOTRANT: = is bidirectional binding what means changes in 'parentModel' will reflect to 'localModel' and vice versa. (Try to input something into 'localModel' input field.)</i>
					<div class="well">
						parentModel in parent scope: <input type="text" ng-model="parentModel" placeholder="parentModel"> {{parentModel}}
						<my-scope-obj-eq attr-val="parentModel"></my-scope-obj-eq>
					</div>
				</li>

			</ol>


			<h3>OTHER PROPERTIES</h3>
			<ol>
				<li>
					<b>restrict: 'E | A | C | M'</b> - E-element, A-attribute, C-class, M-comment (EA in most cases)
					<br><b>replace: true | false</b> - will be directive element replaced with real HTML tag (default is false)

					<br>
					[<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/04restrict-e.js" target="_blank">04restrict-e.js</a>,
					<a href="https://github.com/smikodanic/supermean-examples/blob/master/client/src/app/examples-spa/directives/directive_examples/04restrict-a.js" target="_blank">04restrict-a.js</a>]

<pre><code>//template-- &lt;p style="color:green"&gt; &lt;/p&gt;
//directive--  &lt;mydir class="pull-right"&gt; &lt;/mydir&gt;

//replace: true <b>(will merge directive and template attributes)</b>
//result will be:  &lt;p class="pull-right" style="color:green"&gt; &lt;/p&gt;


//replace: false
&lt;mydir class="pull-right"&gt; &lt;p style="color:green"&gt; &lt;/p&gt; &lt;/mydir&gt;
</code></pre>

					<div class="well">
						<my-restrict-e class="pull-right"></my-restrict-e>
						<br>
						<br>
						<br>
						<p my-restrict-a="<p style='color:Maroon'>From directive's attribute.</p>"></p>
					</div>
				</li>

			</ol>





		</div>

	</div>


	</div>
</section>


<footer class="row" ng-include="'/client/dist/html/examples-spa/_nginclude/20footer.html'"></footer>
