<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="<%= desc %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="author" content="Sasa M.">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<link rel="icon" href="/assets/img/favicon.png" type="image/png">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= title %></title>

<!-- Bootstrap Core CSS -->
<link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Theme CSS -->
<link href="/assets/css/supermean.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
