<!-- Footer -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>
							<a href="https://www.google.hr/maps/place/31500,+Našice/@45.4925964,18.0631876,13z/" target="blank"><i class="fa fa-map-marker" style="color:#FFD4D4"></i></a>
							Company
						</h3>
						<p> CLOUD Ltd
							<br>31500 Našice
							<br>Hrvatska (Croatia)
							<br>EUROPEAN UNION
						</p>
					</div>
					<div class="footer-col col-md-4">
						<h3>&nbsp;</h3>
						<ul class="list-inline">
							<li>
								<a href="https://www.github.com/smikodanic" class="btn-social btn-outline" target=_blank""><i class="fa fa-fw fa-github"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline" target=_blank""><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a href="https://plus.google.com/101242836008623800913" class="btn-social btn-outline" target=_blank""><i class="fa fa-fw fa-google-plus"></i></a>
							</li>
							<li>
								<a href="https://twitter.com/smikodanic" class="btn-social btn-outline" target=_blank""><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/smikodanic" class="btn-social btn-outline" target=_blank""><i class="fa fa-fw fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					<div class="footer-col col-md-4">
						<h3>Licence</h3>
						<p>
							This software is released
							<br>under the <a href="https://opensource.org/licenses/MIT" target="_blank" style="color:#B1D0FF">MIT license</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; SuperMEAN 2016
					</div>
				</div>
			</div>
		</div>
	</footer>
<!-- footer end -->
