<!-- Modals -->
	<div class="portfolio-modal modal fade" id="productModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Supermean API</h2>
							<hr class="star-primary">
							<p>Use this framework to build RESTful API in NodeJS, ExpressJS, and MongoDB.</p>
							<div style="text-align:left">
								<h3>Features:</h3>
								<ul>
									<li>dev and prod environment</li>
									<li>already prepared MVC structure: routes, models</li>
									<li>built in mongoose</li>
									<li>connect to multiple mongodb databases</li>
									<li>bluebird promises</li>
									<li>already prepared passporjs strategies: basic, digest, json web token (jwt), hash</li>
									<li>how to examples</li>
								</ul>
							</div>
							<ul class="list-inline item-details">
								<li>GitHub:
								<strong style="color:#502183">git clone git@github.com:smikodanic/supermean-api.git</strong></li>
							</ul>
							<a href="https://github.com/smikodanic/supermean-api" target="_balnk" type="button" class="btn btn-default"><i class="fa fa-github"></i> Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="productModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>SuperMEAN SPA</h2>
							<hr class="star-primary">
							<p>Use this framework to build Single Page App (SPA) in NodeJS, ExpressJS and Angular 1. Usually in combination with SuperMEAN API.</p>
							<div style="text-align:left">
								<h3>Features:</h3>
								<ul>
									<li>dev and prod environment</li>
									<li>gulp build tool</li>
									<li>browserify</li>
									<li>bluebird or Q promises</li>
									<li>more powerfull UI Router instead on ngRoute</li>
									<li>many passporjs strategies</li>
									<li>how to examples</li>
								</ul>
							</div>
							<ul class="list-inline item-details">
								<li>GitHub: <strong style="color:#502183">git clone git@github.com:smikodanic/supermean-spa.git</strong></li>
							</ul>
							<a href="https://github.com/smikodanic/supermean-spa" target="_balnk" type="button" class="btn btn-default"><i class="fa fa-github"></i> Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="productModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>SuperMEAN MPA</h2>
							<hr class="star-primary">
							<p>
								Use this framework to build Multi Page App (MPA) in NodeJS, ExpressJS and MongoDB.
								Can use SuperMEAN API but it's not mandatory because it has built in mongoose to get/set data into mongo database.
							</p>
							<div style="text-align:left">
								<h3>Features:</h3>
								<ul>
									<li>dev and prod environment</li>
									<li>already prepared MVC structure</li>
									<li>built in mongoose</li>
									<li>connect to multiple mongodb databases</li>
									<li>bluebird promises</li>
									<li>already prepared passporjs strategies: local, facebook, twitter, google</li>
									<li>how to examples</li>
								</ul>
							</div>
							<ul class="list-inline item-details">
								<li>GitHub: <strong style="color:#502183">git clone git@github.com:smikodanic/supermean-mpa.git</strong></li>
							</ul>
							<a href="https://github.com/smikodanic/supermean-mpa" target="_balnk" type="button" class="btn btn-default"><i class="fa fa-github"></i> Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
