<header class="row" ng-include="'/client/dist/html/examples-spa/_partials/05header.html'"></header>

<div class="row">
	<div class="col-sm-8">
		<ol class="col-sm-7 breadcrumb">
  			<li><a href="/">Home</a></li>
  			<li><a href="/examples-spa">SPA Examples</a></li>
  			<li class="active">Q Promise</li>
		</ol>
	</div>
</div>

<section class="main-block">

	<div class="row">
		<div class="col-sm-12">
			<h1>Q Promise Examples</h1>
			<p>
				All examples include
				<a href="https://docs.angularjs.org/api/ng/service/$q" target="_blank">AngularJS $q promises</a>
				which are simplified version of
				<a href="http://documentup.com/kriskowal/q" target="_blank">Kris Kowal's Q Library</a>.
				Also visit <a href="https://github.com/kriskowal/q/wiki/API-Reference" target="_blank">Q API Reference</a>.
				<br>Here we'll examine which methods of original Q promises are working inside $q service.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-5">
			<p class="alert alert-warning">
				<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
				<b>Warning:</b> Open browser console to see example output result.
			</p>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-7">

			<h3>Promise creation</h3>
			<ol ng-controller="ListQcreationCtrl">
				<li>
					<a href="#" ng-click="creationResolver()">$q(function(resolve, reject) { ... })</a>
					- creation with resolver function: function(resolve, reject) {...}
				</li>
				<li>
					<a href="#" ng-click="creationDefer()">$q.defer()</a>
					- creation with defer() method. Example with ES6 arrow functions!
					<br>{ var def = $q.defer(); def.resolve('125'); def.reject(new Error('reason')); return def.promise;}
				</li>
				<li>
					<a href="#" ng-click="creationDeferNotify()">$q.defer() with notatify()</a>
					- This example shows progress bar utilized by <b>def.notify()</b>; which can be called multiple times untill promise is resolved or rejected.

					 <div class="progress">
    					<div class="progress-bar" role="progressbar" ng-style="{'width':progressPerct}">{{progressPerct}}</div>
    				</div>
				</li>
				<li>
					<a href="#" ng-click="creationResolveReject()">direct with $q.resolve() or $q.reject()</a>
					- direct creation with $q.resolve(value) or $q.reject(reason)
				</li>
			</ol>

			<h3>Methods</h3>
			<ol ng-controller="ListQmethodsCtrl">
				<li>
					<a href="#" ng-click="method_all()">.all([promis1, promis2, ...])</a>
					- all promises must be resolved (fulfilled) to execute next .then(funtion (valArr) {}). Resolved values are returned in array valArr.
				</li>
				<li>
					<a href="#" ng-click="method_race()">.race([promis1, promis2, ...])</a>
					- wait for first promise to be fulfilled or rejected and returns a value of that promise. <b>NOT WORKING !!!</b>
				</li>

				<li>
					<a href="#" ng-click="method_then()">.then()</a>
					- return and throw inside then()
				</li>
			</ol>


		</div>






		<div class="col-sm-5">
<b>PROMISE:</b>
<pre style="border:1px solid Gray;padding:10px;min-height:250px;">{{resultOut}}</pre>
		</div>





	</div>







	</div>
</section>


<footer class="row" ng-include="'/client/dist/html/examples-spa/_partials/20footer.html'"></footer>
