#bower.json installation
commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_posthooks_bower_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current
      sudo /opt/elasticbeanstalk/node-install/node-v4.3.0-linux-x64/bin/node /var/app/current/node_modules/bower/bin/bower install --allow-root
      chown -R nodejs:nodejs /var/app/current/bower_components