#create tmp directory and its subdirectories
#required because of /server/app/config/middleware/sessionexpress.js
commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02-posthooks_mkdir_tmp.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir nodejs:nodejs /var/app/current/server/tmp
      mkdir nodejs:nodejs /var/app/current/server/tmp/log
      mkdir nodejs:nodejs /var/app/current/server/tmp/session
      chmod -R 777 /var/app/current/server/tmp
      chown -R nodejs:nodejs /var/app/current/server/tmp