<!doctype html>
<html lang="en">

<head>
	<%- include('../_partials/01head'); -%>
</head>

<body>
	<%- include('../_partials/05header'); -%>

	<ol class="col-sm-7 breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/examples">SS Examples</a></li>
  		<li class="active">Mongoose Examples</li>
	</ol>


	<main class="col-sm-12 container" style="min-height: 600px">

		<h1>Mongoose Examples</h1>
		For API reference visit <a href="http://mongoosejs.com/docs/api.html" target="_blank">http://mongoosejs.com/docs/api.html</a> .
		<br>Mongoose tutorial is <a href="http://mongoosejs.com/docs/2.7.x/index.html" target="_blank">here</a>.


		<br><br>
		<h4>Initial Setup</h4>
		<ol>
			<li><a href="/examples/mongoose/00setupmongo">Setup Mongo</a> - short instructions how to setup mongo database
			<li><a href="/examples/mongoose/00setupmongoose">Setup Mongoose</a> - mongoose setup and file structure in SuperMEAN
		</ol>


		<br><br>
		<h4>Schema Types</h4>
		<h5>Available Schema Types</h5>
		<ol>
			<li><a href="/examples/mongoose/01schematypes-string-callback" target="_blank">String (callback version)</a> - Options: lowercase, uppercase, trim, match, enum
			<li><a href="/examples/mongoose/01schematypes-string" target="_blank">String (bluebird promise version)</a> - Options: lowercase, uppercase, trim, match, enum
			<li><a href="/examples/mongoose/01schematypes-number" target="_blank">Number</a> - Options: min, max
			<li><a href="/examples/mongoose/01schematypes-misc" target="_blank">Date</a> - Options: -
			<li><a href="/examples/mongoose/01schematypes-misc" target="_blank">Boolean</a> - Options: -
			<li><a href="/examples/mongoose/01schematypes-misc" target="_blank">ObjectId</a> - {type: Schema.Types.ObjectId, ...}
			<li><a href="/examples/mongoose/01schematypes-misc" target="_blank">Mixed</a> - {type: Schema.Types.Mixed, ...}
			<li><a href="/examples/mongoose/01schematypes-buffer" target="_blank">Buffer</a> - {type: Buffer, ...}
		</ol>

		<h5>Additional options</h5>
		<ol>
			<li><a href="/examples/mongoose/02schemaoptions-default" target="_blank">default</a> - set default value
			<li><a href="/examples/mongoose/02schemaoptions-required" target="_blank">required</a> - {required: [bool], ...} validation rule
			<li><a href="/examples/mongoose/02schemaoptions-select" target="_blank">select</a> - {select: [bool], ...} define will the path is in selected results.
				If <b>{prop: {type: String, select: false}}</b> then it can be included again with <b>.find().select('path_name')</b>
			<li><a href="/examples/mongoose/02schemaoptions-select2" target="_blank">select with BPromise.join()</a>
			<li><a href="/examples/mongoose/02schemaoptions-get" target="_blank">get</a> - {get: [function], ...} getter function, transform a value get from mongodb
			<li><a href="/examples/mongoose/02schemaoptions-set" target="_blank">set</a> - {set: [function], ...} setter function, transform a value which will be set into mongodb
			<li><a href="/examples/mongoose/02schemaoptions-index" target="_blank">index</a> - {index: [bool], ...} creates index
			<li><a href="/examples/mongoose/02schemaoptions-unique" target="_blank">unique</a> - index: { unique: true } creates unique index
			<li><a href="/examples/mongoose/02schemaoptions-sparse" target="_blank">sparse</a> - {sparse: [bool], ... } creates sparse index
			<li><a href="/examples/mongoose/02schemaoptions-validate" target="_blank">validate</a> - {validate: [function, regex, array], ... } validate entry for specific path
			<li><a href="/examples/mongoose/02schemaoptions-ref" target="_blank">ref</a> - {ref: [string], ... } validate entry for specific path
		</ol>


		<br><br>
		<h4>Mongoose Queries</h4>
		<ol>
			<li><a href="/examples/mongoose/20save" target="_blank">save</a> - callback version
			<li><a href="/examples/mongoose/20save-async" target="_blank">saveAsync</a> - bluebird promise version
		</ol>









	</main>


	<br><br><br>
	<%- include('../_partials/20footer'); -%>
</body>
</html>
