<!doctype html>
<html lang="en">

<head>
	<%- include('../_partials/01head'); -%>
</head>

<body>
	<%- include('../_partials/05header'); -%>

	<ol class="col-sm-7 breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/examples">SS Examples</a></li>
  		<li class="active">Mongoose Examples</li>
	</ol>


	<main class="col-sm-12 container" style="min-height: 600px">

		<h1>Mongoose Examples</h1>
		For API reference visit <a href="http://mongoosejs.com/docs/api.html" target="_blank">http://mongoosejs.com/docs/api.html</a> .


		<br><br>
		<h3>Mongo Database</h3>
		<ol>
			<li><a href="/examples/mongoose/00setupmongo" target="_blank">Setup Mongo</a> - short instructions how to setup mongo databse
			<li><a href="/examples/mongoose/00connection" target="_blank">Mongoose Conncetion</a> - how mongoose connects to database
		</ol>





		<br><br>
		<h3>Mongoose with Bluebird promise</h3>


	</main>


	<br><br><br>
	<%- include('../_partials/20footer'); -%>
</body>
</html>
