<!doctype html>
<html lang="en">

<head>
	<%- include('_partials/01head'); -%>
</head>

<body>
	<%- include('_partials/05header'); -%>

	<ol class="col-sm-7 breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li class="active">SS Examples</li>
	</ol>


	<main class="col-sm-12 container" style="min-height: 600px">

		<h1>Server Side Examples</h1>

		<h3>Authentication</h3>

		<ol>
			<li><a href="/examples/auth/passport">Passport Authentication</a> - different authentication strategies using
				<a href="http://passportjs.org/docs" target="_blank">passport npm</a>. Inspiration by <a href="https://github.com/passport"  target="_blank">github examples</a></li>.

		</ol>


		<h3>Bluebird promise</h3>

		<ol>
			<li><a href="/examples/bluebird">Example 1</a> - ...


		</ol>


	</main>

	<%- include('_partials/20footer'); -%>
</body>
</html>
