<!doctype html>
<html lang="en">

<head>
	<%- include('_partials/01head'); -%>
</head>

<body>
	<%- include('_partials/05header'); -%>

	<ol class="col-sm-7 breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li class="active">SS Examples</li>
	</ol>


	<main class="col-sm-12 container" style="min-height: 600px">

		<h1>Server Side Examples</h1>

		<ol>
			<li><a href="/examples/auth/passport">Passport Authentication</a> - different authentication strategies using <a href="http://passportjs.org/docs" target="_blank">passport npm</a>. Inspiration by <a href="https://github.com/passport"  target="_blank">github examples</a>.</li>
			<li><a href="/examples/bluebird">Bluebird Promise Examples</a> - basic examples by following <a href="http://bluebirdjs.com/docs/api-reference.html" target="_blank">Bluebird API</a></li>
			<li><a href="/examples/mongoose">Mongoose</a> - mongoose examples according to <a href="http://mongoosejs.com/docs/guide.html" target="_blank">Docs</a></li>
		</ol>



	</main>

	<%- include('_partials/20footer'); -%>
</body>
</html>
