<!doctype html> 
<html lang="en">

<head>
	<%- include('../public/0partials/01head'); -%>
</head>

<body>
	<%- include('../public/0partials/05header'); -%>

	<main class="container" style="min-height:350px">
	
        <h1>Loged In</h1>

        <p>User logged successfully !</p>
	


	</main>


	<%- include('../public/0partials/20footer'); -%>
</body>
</html>