<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('_partials/01head'); -%>
</head>

<body id="page-top" class="index">

	<%- include('_partials/10navigation'); -%>




	<!-- Products Grid Section -->
	<section id="products" style="margin-top:130px">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Contact</h2>
					<p>Email is sent successfuly !
					<br>We'll answer as soon as posible.</p>
					<hr class="star-primary">

					<br>
					<br>
					<br>
					<a href="/" class="btn btn-primary"> Go Back !</a>
				</div>
			</div>
		</div>
	</section>




	<!-- Bootstrap Core JavaScript -->
	<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>



</body>

</html>
