<!doctype html> 
<html lang="en">

<head>
	<%- include('0partials/01head'); -%>
</head>

<body>
	<%- include('0partials/05header'); -%>


	<main class="container">
	<h1>superMEAN</h1>
	<br>	<i class="fa fa-apple"></i> superMean is started .
	<br>
	
	<img src="/assets/img/ancient-wall.png" width="300" alt="">
	</main>


	<%- include('0partials/20footer'); -%>
</body>
</html>