 	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
 	<meta charset="utf-8">

		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<!--[if lt IE 9]>
			<script src="/bower/html5shiv/dist/html5shiv.min.js"></script>
			<script src="/bower/respond/dest/respond.min.js"></script>
		<![endif]-->

 	<title><%= title %></title>
 	<meta name="description" content="<%= desc %>">
 	<meta name="keywords" content="<%= keywords %>">
 	<meta name="author" content="Sasa M.">
 	<meta name="robots" content="index,follow">
 	<meta name="googlebot" content="index,follow">
 	<link rel="icon" href="/assets/img/favicon.png" type="image/png">

	<meta name="viewport" content="width=device-width, maximum-scale=1.0">

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/bower/font-awesome/css/font-awesome.min.css">


	<!-- js (jquery must be loaded before bootstrap.min.js) -->
	<script src="/bower/jquery/dist/jquery.min.js"></script>
	<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower/angular/angular.min.js"></script>
