<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-4" style="margin-top:50px">
                <p><strong>&copy; <a href="http://www.supermean.org" target="_blank">supermean.org</a></strong></p>
            </div>

        </div>
    </div>
</footer>
<!-- footer end -->
