<a href="/examples/auth/passport/logout" class="btn btn-default">
    <i class="glyphicon glyphicon-log-out"></i> Log Out
</a>
<br><br>
Logged as: <b style="color:green"><%= user %></b>

<%if (user_img) {%>
	<br><img src="<%= user_img %>" alt="Profile image" style="border:1px solid silver">
<% } %>
