<!doctype html> 
<html lang="en">

<head>
	<%- include('../../_partials/01head'); -%>
</head>

<body>
	<%- include('../../_partials/05header'); -%>

	<ol class="col-sm-7 breadcrumb">
  	<li><a href="/">Home</a></li>
  	<li><a href="/examples">SS Examples</a></li>
  	<li class="active">Passport</li>
	</ol>

	<main class="col-sm-12 container" style="min-height:350px">
	
        <h1><span class="fa fa-lock"></span> Passport Authentication</h1>
	
	       <div class="jumbotron text-center">

            <p>Login with:</p>
            <a href="/examples/auth/passport/local" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>

        </div>



	</main>


	<%- include('../../_partials/20footer'); -%>
</body>
</html>