<!doctype html> 
<html lang="en">

<head>
	<%- include('../../_partials/01head'); -%>
</head>

<body>
	<%- include('../../_partials/05header'); -%>

    <ol class="col-sm-7 breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/examples">SS Examples</a></li>
        <li><a href="/examples/auth/passport">PassportJS</a></li>
        <li><a href="/examples/auth/passport/local">Local Login</a></li>
    </ol>



	<main class="col-sm-12 container" style="min-height:350px">
	
        <h1>PassportJS Local Login</h1>
	
	   Logged OK!


	</main>


	<%- include('../../_partials/20footer'); -%>
</body>
</html>