<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Not Found 404 error</title>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/bower/font-awesome/css/font-awesome.min.css">

</head>

<body style="background:url('/assets/img/backgrounds/silvernoise.png');text-align:center;color:#C33B2D;">

	<h3 style="font:25px Arial;font-weight:700;">SOMETHING WENT WRONG!</h3>
	<h1 style="font:50px Arial;font-weight:700;">404</h1>
	<h3>Page Not Found</h3>

	<a href="/" style="text-decoration:none">
		<i class="fa fa-3x fa-home"></i>
		<br>go home
	</a>

</body>
</html>
